<div class="container d-flex">

    <div class="main-body col-12">
        <div class="main-body-text">
            <div class="img">
                <img class="img2" src="./image/image.png" alt="alternatetext" />
                <img class="img2" src="./image/image.png" alt="alternatetext" />
                <img class="img2" src="./image/image.png" alt="alternatetext" />
            </div>
            <div class="text-main">
                <h1 class="align ks-center">Kitchen Sink Creations</h1>
                <h3 class="align log-in-center">Log In to get started!</h3>
            </div>
            <div class="img">
                <img class="img2" src="./image/image.png" alt="alternatetext" />
                <img class="img2" src="./image/image.png" alt="alternatetext" />
                <img class="img2" src="./image/image.png" alt="alternatetext" />
            </div>
        </div>
    </div>

</div>