<h1>This is my pantry</h1>
<button id="searchRecipes">search</button>
{{#each ingredients}}
    <p>{{ingredient_name}}</p>
{{/each}}

<div id="recipeContainer">search results:</div>

<script src="/js/loadRecipe.js"></script>