<h1>This is my pantry</h1>
<button id="searchRecipes">search</button>
{{#each ingredients}}
    <p>{{ingredient_name}}</p>
{{/each}}


<div id="recipeContainer">search results:
    {{#each recipe}}
    <p>{{recipe_name}}</p>
    {{/each}}
</div>


<script src="./js/loadRecipe.js"></script>