/* Color bank and font family */
* {
  font-family: 'Nerko One', sans-serif, cursive;
  padding: 0;
}

:root {
  --color1: #FFEEEE;
  --color2: #FFF6EA;
  --color3: #F7E9D7;
  --color4: #EBD8C3;
  --color5: black;
}

.body {
  width: 75%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 800px;
}

/* This is the nav bar styling */
.nav-link:hover {
  color: var(--color4);
}

/* This is the log In styling */
.log-in {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 500px;
}

.btn-primary {
  color: var(--color5);
  background-color: var(--color4);
}

.btn-primary:hover {
  color: var(--color5);
  background-color: var(--color1);
}

/* This is the search styling */
.search-button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}

.btn-outline-info {
  color: var(--color5);
  background-color: var(--color4)
}

.btn-outline-info:hover {
  color: var(--color5);
  background-color: var(--color1);
}

/* This is the create account styling */
.btn-warning {
  color: var(--color5);
  background-color: var(--color4)
}

.btn-warning:hover {
  color: var(--color5);
  background-color: var(--color1);
}

.ingredients {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Container styling to eliminate margin */
.container {
  margin: 0;
  display: flex;
  align-items: center;
}

.main-body-text {
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
}

.align {
  display: flex;
  text-align: center;
}

.ks-center {
  padding-left: 409px;
}

.log-in-center {
  padding-left: 472px;
}

.img {
  display: flex;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  align-items: self-end;
  padding-left: 199px;
}

.img2 {
  width: 240px;
  height: 130px;
  align-items: flex-start;
}

.img3 {
  display: flex;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}

.text-main {
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 6px;
}

/* Section for Profile */