* {
    color: rgb(147, 103, 65);
    background-color: #F7E9D7;
    text-align: center;
}

header {
    text-align: center;
    border: 4px;
  }
  
  .card {
    background-color: #f4c6eb;
    
  }

  .search-button {
    background: none;
    border: #4b453c solid 2px;
    padding: 3;
    cursor: pointer;
    color: #4b453c;
    text-decoration: none;
    font-size: 100%;
  }
  
  .search-button:hover {
    color: #927651;
    text-decoration: underline;
  }

  .login-button {
    background: none;
    border: #4b453c solid 2px;
    padding: 3;
    cursor: pointer;
    color: #4b453c;
    text-decoration: none;
    font-size: 100%;
  }
  
  .login-button:hover {
    color: #927651;
    text-decoration: underline;
  }

  .create-account-button {
    background: none;
    border: #4b453c solid 2px;
    padding: 3;
    cursor: pointer;
    color: #4b453c;
    text-decoration: none;
    font-size: 100%;
  }
  
  .create-account-button:hover {
    color: #927651;
    text-decoration: underline;
  }